@model _Wardrobe.ViewModels.OutfitViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Outfit.Bottom.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outfit.Bottom.BottomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outfit.Shoe.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outfit.Shoe.ShoeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outfit.Top.TopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outfit.Top.TopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outfit.OutfitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outfit.OutfitName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Outfit.OutfitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
